<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="338" height="141" border="1">
    <tr>
      <td>Event</td>
      <td>Place</td>
      <td>Phone</td>
      <td>Location</td>
      <td>   </td>
    </tr>
      {% for i in val %}
    <tr>
      <td>&nbsp;{{ i.name }}</td>
      <td>&nbsp;{{ i.place }}</td>
      <td>&nbsp;{{ i.phone }}</td>
      <td ><div align="center"><a href="#">Track</a></div></td>
      <td><a href="#">Edit</a></br><a href="#">delete</a></td>
    </tr>
      {% endfor %}

    <tr>
      <td colspan="5"><div align="center"><a href="/addevent">Add New</a></div></td>
    </tr>
  </table>
</form>
</body>
</html>
