<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="get"></form>
<p><a href="/add_college">ADD COLLEGE</a>
</p>
<p><a href="/view_college">VIEW COLLEGE</a></p>
<p><a href="/add_judge">ADD JUDGE</a></p>
<p><a href="/view_judge">VIEW JUDGE</a></p>
<p><a href="/add_event">ADD EVENT</a></p>
<p><a href="/view_event">VIEW EVENT</a></p>
<p><a href="/add_program">ADD PROGRAM</a></p>
<p><a href="/view_program">VIEW PROGRAM</a></p>
<p><a href="logout">LOGOUT</a></p>

</body>
</html>
