{% extends "event_organiser/organiser_index.html" %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>

</head>

<body><form action="" method="get"></form>
<table border="1"  class="table table-bordered">
  <tr style="color: white;background-color: #f82249">
    <th scope="col">SL.NO</th>
    <th scope="col">NAME</th>
    <th scope="col">EMAIL</th>
    <th scope="col">CONTACT</th>
    <th scope="col">EXPERTISE</th>
    <th scope="col">DESIGNATION</th>
    <th scope="col">ACTIONS</th>
    <th scope="col">ALLOCATE PROGRAM</th>
  </tr>
    {% for v in data %}
  <tr>
    <td>{{ forloop.counter }}&nbsp;</td>
    <td> {{ v.name }}</td>
    <td>{{ v.email }}&nbsp;</td>
    <td>{{ v.contact }}&nbsp;</td>
    <td>{{ v.expertise }}&nbsp;</td>

    <td>{{ v.designation }}</td>
    <td>
{#        <a href="/add_event/{{ v.id }}#aaa" class="btn btn-outline-dark">Add event</a><br><br>#}
{#        <a href="/view_event/{{ v.id }}#aaa" class="btn btn-outline-dark">View event</a><br><br>#}
        <a href="/edit_judge/{{ v.id }}#aaa" class="btn btn-outline-dark">Update</a><br><br>
        <a href="/delete_judge/{{ v.id }}" onclick="return confirm('Are you sure?')" class="btn btn-outline-dark">Delete</a></td>

  <td><a href="/view_event_allocation/{{ v.id }}#aaa" class="btn btn-outline-danger">Allocate Program</a></td>



  </tr>
    {% endfor %}
</table>
</body>
</html>
{% endblock %}