{% extends "staff/staff_index.html" %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>

</head>

<body><form action="/add_student_post" method="post" enctype="multipart/form-data"><table class="table table-dark" border="1">

  <tr>
    <td>NAME :</td>
    <td >
      <input type="text" name="name" id="textfield" pattern="[A-Za-z ]*" class="form-control" required /></td>
  </tr>
  <tr>
    <td scope="row">PLACE :</td>
    <td>
      <input type="text" name="place" id="textfield2" class="form-control" required /></td>
  </tr>
  <tr>
    <td scope="row">PHONE :</td>
    <td>
      <input type="text" name="phone" id="textfield3" pattern = "[6-9][0-9]{9}" class="form-control" required /></td>
  </tr>

  <tr>
    <td scope="row">EMAIL   :</td>
    <td>
      <input type="email" name="Email" id="textfield5" class="form-control" required /></td>
  </tr>

  <tr>
    <td scope="row">DEPARTMENT</td>
    <td>
      <input type="text" name="dept" id="textfield8" class="form-control" required /></td>
  </tr>
  <tr>
    <td scope="row">YEAR</td>
    <td>
      <input type="text" name="year" id=" textfield9"  class="form-control" required/></td>
  </tr>
<tr>
      <th scope="row">Image</th>
      <td>
      <input type="file" name="fileField" id="fileField" accept="/image/*" class="form-control" required /></td>
    </tr>
  <tr>
      <td colspan="2" scope="row"><div align="center"><input type="submit" name="REGISTER" id="REGISTER" value="Add"  class="btn btn-danger"/></div></td>
    </tr>
</table>
</form>
</body>
</html>
{% endblock %}