<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="get"></form>
<p><a href="/viewandverifyevent">VIEW and verify event organiser</a>
</p>
<p><a href="/view_verified_event_organizer">VIEW VERIFIED event organiser</a></p>
<p><a href="/admin_view_program">VIEW program</a></p>
<p><a href="/admin_view_judge">VIEW JUDGE</a></p>
<p><a href="/admin_view_event">VIEW event</a></p>
<p><a href="/admin_view_staff">view staff</a></p>
<p><a href="logout">LOGOUT</a></p>

</body>
</html>
