{% extends "admin/admin_index.html" %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>


</head>

<body><form action="" method="get"></form>
<table border="1"  class="table table-bordered">
  <tr style="color: white;background-color: #f82249">
    <th scope="col">SL.NO</th>
    <th scope="col">NAME</th>
    <th scope="col">CONTACT</th>
    <th scope="col">IMAGE</th>
    <th scope="col">PLACE</th>
    <th scope="col">DESIGNATION</th>
    <th scope="col">&nbsp;</th>
  </tr>
    {% for i in data %}
  <tr>
    <td>&nbsp;{{ forloop.counter }}</td>
    <td>&nbsp;{{ i.name }}</td>
    <td>{{  i.contact }}&nbsp;</td>
    <td>&nbsp;<img src="{{ i.image }}" width="100" height="100" alt=""/></td>
      <td>{{ i.place }}</td>
    <td>&nbsp;{{ i.designation }}</td>
    <td>
    <p><a href="/approve_event_organizer/{{ i.LOGIN.id }}" class="btn btn-success" onclick="return confirm('Are you sure?')">APPROVE</a></p>
    <p><a href="/reject_organizer/{{ i.LOGIN.id }}" class="btn btn-danger" onclick="return confirm('Are you sure?')" >REJECT</a></p></td>
  </tr>
    {% endfor %}
</table>
</body>
</html>
{% endblock %}