<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="get"></form>
<p><a href="/judge_view_and_edit_profile">Manage Profile</a>
</p>
<p><a href="/judge_view_assigned_work">View Assigned work</a></p>
<p><a href="/upload_result">Upload result</a></p>


<p><a href="logout">LOGOUT</a></p>

</body>
</html>
