<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="get"></form>
<p><a href="/view_and_update_profile">MANAGE PROFILE</a>
</p>
<p><a href="/add_staff">ADD STAFF</a></p>
<p><a href="/view_staff">VIEW STAFF</a></p>
<p><a href="/college_view_event">VIEW EVENT</a></p>
<p><a href="/college_view_program">VIEW PROGRAM</a></p>

<p><a href="logout">LOGOUT</a></p>

</body>
</html>
