{% extends "college/collge_index.html" %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>

</head>

<body><form action="" method="get"></form>
<table width="200" border="1" align="center" cellpadding="10" cellspacing="10" class="table-bordered">
  <tr>
    <th scope="col">SL.NO</th>
    <th scope="col">WORK</th>
    <th scope="col">STAFF NAME</th>
    <th scope="col">STAFF PLACE</th>
    <th scope="col">STATUS</th>


  </tr>
    {% for v in data %}
  <tr>
    <td>{{ forloop.counter }}&nbsp;</td>
    <td> {{ v.works }}</td>
    <td> {{ v.STAFF.name }}</td>
    <td> {{ v.STAFF.place }}</td>
    <td> {{ v.status }}</td>





  </tr>
    {% endfor %}
</table>
</body>
</html>
{% endblock %}