<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form3" name="form3" method="post" action="">
  <table width="310" border="1">
    <tr>
      <td width="117">Program Name </td>
      <td width="177"><label>
        <input type="text" name="textfield" />
      </label></td>
    </tr>
    <tr>
      <td>Details</td>
      <td><label>
        <input type="text" name="textfield2" />
      </label></td>
    </tr>
    <tr>
      <td>Rules</td>
      <td><label>
        <input type="text" name="textfield3" />
      </label></td>
    </tr>
    <tr>
      <td colspan="2"><div align="center">
          <input type="submit" name="Submit2" value="Add" />
      </div></td>
    </tr>
  </table>
</form>
</body>
</html>
